@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Dancing Script", cursive;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.signatureWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.signatureWrapper .signature {
  text-align: center;
  font-size: 180px;
  width: 100%;
}

.signatureWrapper .signatureClone {
  text-align: center;
  font-size: 180px;
  position: absolute;
  color: white;
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 2s ease-in;
}

.signatureWrapper .description {
  text-align: center;
  font-size: 80px;
  width: 100%;
}

.signatureWrapper .descriptionClone {
  text-align: center;
  font-size: 80px;
  position: absolute;
  color: white;
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 2s ease-in;
}

body.loaded .signatureWrapper .signatureClone {
  left: 100%;
}

body.loaded .signatureWrapper .descriptionClone {
  left: 100%;
}

.description {
  font-size: 80px;
}

.blushpink{
  /* Ellipse 3 */

position: absolute;
width: 448px;
height: 448px;
left: 1532px;
top: -148px;

background: #F8A9AD;
filter: blur(250px);

}

.blushblue {
  /* Ellipse 3 */

position: absolute;
width: 448px;
height: 448px;
left: -126px;
top: -152px;

background: #F8A9AD;
filter: blur(250px);

}

.heart {
  position: relative;
  cursor: pointer;
}

.heart span {
  font-size: 200px;
}

.heart .title {
  position: absolute;
  top: 90px;
  left: 88px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.heart-anim {
  position: absolute;
  font-size: 20px !important;
  top: 138px;
  left: 123px;
  opacity: 0;
}

.heart.animate .heart-anim.heart-1 {
  animation: anim-1 1s ease-in-out;
  /* animation-fill-mode: forwards; */
}

.heart.animate .heart-anim.heart-2 {
  animation: anim-2 1s ease-in-out;
  /* animation-fill-mode: forwards; */
}

.heart.animate .heart-anim.heart-3 {
  animation: anim-3 1s ease-in-out;
  /* animation-fill-mode: forwards; */
}

.heart.animate .heart-anim.heart-4 {
  animation: anim-4 1s ease-in-out;
  /* animation-fill-mode: forwards; */
}

.heart.animate .heart-anim.heart-5 {
  animation: anim-5 1s ease-in-out;
  /* animation-fill-mode: forwards; */
}

.heart.animate .heart-anim.heart-6 {
  animation: anim-6 1s ease-in-out;
  /* animation-fill-mode: forwards; */
}

.heart.animate .heart-anim.heart-7 {
  animation: anim-7 1s ease-in-out;
  /* animation-fill-mode: forwards; */
}

.heart.animate .heart-anim.heart-8 {
  animation: anim-8 1s ease-in-out;
  /* animation-fill-mode: forwards; */
}

@keyframes anim-1 {
  0% {
    opacity: 0;
    top: 138px;
    left: 123px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 20px;
    left: 0px;
  }
}

@keyframes anim-2 {
  0% {
    opacity: 0;
    top: 138px;
    left: 123px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 138px;
    left: -40px;
  }
}

@keyframes anim-3 {
  0% {
    opacity: 0;
    top: 138px;
    left: 123px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 25px;
    left: 123px;
  }
}

@keyframes anim-4 {
  0% {
    opacity: 0;
    top: 138px;
    left: 123px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 138px;
    left: 286px;
  }
}

@keyframes anim-5 {
  0% {
    opacity: 0;
    top: 138px;
    left: 123px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 226px;
    left: 226px;
  }
}

@keyframes anim-6 {
  0% {
    opacity: 0;
    top: 138px;
    left: 123px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 20px;
    left: 246px;
  }
}

@keyframes anim-7 {
  0% {
    opacity: 0;
    top: 138px;
    left: 123px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 276px;
    left: 123px;
  }
}

@keyframes anim-8 {
  0% {
    opacity: 0;
    top: 138px;
    left: 123px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 226px;
    left: 20px;
  }
}

.h2 {
  font-size: 500px;
}